.container {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 1em;
}

.BookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
    margin-bottom: 2em;
    height: auto;
    min-height: min-content;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    .loadMore {
        min-height: 40px;
        min-width: 300px;
        transition: all 0.2s ease-in;
        background: white;


        &:hover {
            opacity: 0.8;
            transform: scale(1.02);
        }
    }
}
